openapi: 3.0.0
info:
  title: Mees AI Upload API
  version: 1.0.0
  description: API for intelligent file analysis using multiple AI models

servers:
  - url: https://api.meesai.com/v1
    description: Production server

paths:
  /upload:
    post:
      summary: Upload and analyze a file
      description: Process images or PDFs using selected AI model
      operationId: uploadFile
      tags:
        - Analysis
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File to analyze (PDF, JPG, or PNG)
                model:
                  type: string
                  enum: [gpt4, claude, gemini]
                  description: AI model to use for analysis
              required:
                - file
                - model
      responses:
        '200':
          description: Successful analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      summary:
                        type: string
                      extractedInfo:
                        type: object
                      confidence:
                        type: number
                      suggestedQuestions:
                        type: array
                        items:
                          type: string
                      modelUsed:
                        type: string
                      processingTime:
                        type: number
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
        '429':
          description: Rate limit exceeded
        '500':
          description: Server error

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message